@import '../../../styles/variables/colours.scss';

.input {
  flex: 1;
  display: flex;
  margin-top: 20px;
  flex-direction: column;

  label {
    color: $silver;
    font-size: 14px;
  }

  input {
    height: 40px;
    display: flex;
    padding: 0 15px;
    border-radius: 3px;
    align-items: center;
    border: 1px solid $silver;
    background-color: transparent;
  }

  input:focus {
    outline: none;
  }
}
