@import '../../styles/variables/colours.scss';

.form {
  width: 100%;
  margin: auto;
  display: flex;
  max-width: 600px;
  align-self: center;
  margin-bottom: 60px;
  align-items: center;
  flex-direction: column;

  label, input, textarea {
    width: 100%;
    box-sizing: border-box;
  }

  input, textarea:focus {
    outline: none;
  }

  input, textarea {
    padding: 5px;
  }

  label {
    color: $silver;
    margin-top: 10px;
  }

  input {
    height: 40px;
  }

  textarea {
    resize: none;
    min-height: 200px;
  }

  button {
    color: $red;
    height: 40px;
    border: none;
    padding: 0 5%;
    margin-top: 20px;
    border-radius: 3px;
    align-self: flex-end;
    border: 1px solid $red;
    background-color: transparent;
  }
}
