@import '../../styles/variables/colours.scss';

.nav {
  width: 18%;
  display: flex;
  height: inherit;
  align-items: center;
  flex-direction: column;
  background-color: black;

  h2 {
    margin: 0;
    width: 100%;
    color: $gold;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid $gold;
  }

  button {
    width: 80%;
    border: none;
    height: 40px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    background-color: transparent;
  }

  button:focus {
    outline: none;
  }

  .selected {
    border-radius: 3px;
    color: $gold;
    border: 1px solid $gold;
  }

  .logout {
    color: $silver;
  }

  .languages {
    flex: 1;
    display: flex;
    margin-bottom: 5%;
    align-items: flex-end;

    span {
      height: 40px;
      color: white;
      line-height: 40px;
    }

    .selected {
      color: $gold;
      border: none;
    }
  }
}
