@import '../../variables/colours.scss';

.login {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;

  form {
    width: 90%;
    padding: 2%;
    display: flex;
    max-width: 500px;
    border-radius: 3px;
    flex-direction: column;
    border: 1px solid black;

    h2 {
      margin-bottom: 0;
      text-align: center;
    }
  }

  button {
    border: none;
    color: $gold;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: black;
  }
}
