@import '../../styles/variables/colours.scss';

.config {
  padding: 0 2%;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid $silver;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

}
